* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25262c;
  min-height: 100vh;
  width: 100vw;
}

.response-container {
  display: flex;
  background-color: #1b1c22;
  width: 80%;
}

.text-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-container {
  list-style-type: none;
  display: flex;
}

.test-field {
  width: 100%;
  border: 1px solid #334155;
  border-radius: 10px;
  background-color: #25262c;
  margin: 10px;
}
